/* Resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

body {
	font-size: 62.5%; /* 10px = 1.0em / 15px = 1.5em etc */
	direction: ltr;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	color: #4d5357;
}

h1 {
	margin: 0 0 20px;
	padding-bottom: 13px;
}

p.errormessage {
	float: left;
	margin: 0px 25px 0px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #ff7900;
}

h2,
p {
	padding-bottom: 10px;
}

h3 {
	padding-bottom: 15px;
}

p {
	line-height: 1.5em;
}

#footer p {
	padding: 20px 0;
}

li {
	clear: both;
	padding: 6px 0;
}

.container {
	position: relative;
	margin: 0 auto;
}

form {
	padding: 0;
}

.left_column {
	float: left;
	width: 65%;
}

.right_column {
	position: fixed;
	width: 15%;
	margin-left: 635px;
}

.left_column,
right_column {
	margin-top: 15px;
	padding: 30px;
}

#footer {
	margin-top: 15px;
}

.left_column li input{
	margin-bottom: 6px;
}

label,
input,
textarea {
	clear: none;
	float: left;
}

p.note {
	padding: 20px;
        background-color: #FCF6D6;
}

.cardposition {
	width: 400px;
}

fieldset fieldset ol li {
	float: left;
	height: 15px;
	width: 180px;
	margin-bottom: 15px;
}

#required_field_explanation {
	margin-bottom: 30px;
	margin-top: -40px;
}

.progressbar,
fieldset .cancelbutton {
	display: none;
}

.hgroup {
	margin: 0 0 10px;
}

.purchases {
	padding: 0;
}

.error {
	clear: both;
	padding: 4px 4px 4px 27.5%;
}

.spc_error {
	padding: 0px 0px 20px 0px;
}

div.legend {
	clear:none;
}

span.input_label {
	float: left;
	clear: none;
	width: 27.5%;
}

.single_secure:after {
	content: url(secure.png);
}

/* E-CHECK */
/*------------------------ DESKTOP LAYOUT ------------------------*/

#mobile,
.purchases_mobile .purchases,
.purchases_mobile {
	display: none;
}

/* HIDES HEADER CANCEL BUTTON IN DESKTOP */
#header {
    margin-bottom: 15px;
}

#header img {
    max-width: 100%;
}

.container {
    position: relative;
    width: 840px;
    margin: 0 auto;
}

.left_column, .right_column {
    width: 410px;
}

/* USED FOR SINGLE PAGE COLUMN WIDTH */
#notinpaymentflow .left_column {
    width: 65%;
}
#notinpaymentflow .right_column {
    width: 15%;
}

.left_column, .right_column, .review_container {
    margin-bottom: 30px;
    border: 1px solid #d0d0d0;

    /* BORDER RADIUS */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.left_column {
    float: left;
}

.right_column {
    float: right;
}

ol li {
    padding: 6px 0;
}

ol li ol li {
    padding: 0;
}

li#date_of_birth.firsthalf {
    margin-top: 10px;
}


/* REMOVES PADDING FROM NESTED LISTS */

/*------------------------ TABLET (PORTRAIT) ------------------------*/

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {

    .container {
	width: 740px;
	margin: 0 10px;
    }

    .left_column, .right_column {
	width: 360px;
    }

    .column, .widecolumn {
	width: 309px;
    }

    .widecolumn {
	width: 680px;
    }

    /* ONE STEP PAYMENT */

    #billing-oc .container,
    #shipping-oc .container,
    #payment-oc .container,
    #review-oc .container,
    #finish-oc .container {
	margin: 0 40px;
    }


    /* ECheck */
    input[name=echeck_routing_number] {
	width: 40%;
    }

    input[name=echeck_check_number] {
	width: 25%;
    }

    input[name=driver_license_state] {
	width: 18%;
    }

    #notinpaymentflow .right_column {
	margin-left: 560px;
    }


}

/*------------------------ MOBILE LAYOUT (PORTRAIT) ------------------------*/

/* Note: Design for a width of 320px */

@media only screen and (min-width: 0px) and (max-width: 767px) {


    body {
	background-color: #FFF; /* SETS BG TO WHITE */
	color: #4D5357;
    }


    #mobile {
	display: block;
	padding: 0 10px 10px;
	margin-bottom: 5px;
	/* BORDER RADIUS */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
    }

    #review #mobile,
    #receipt #mobile,
    #notinpaymentflow #mobile {
	display: none;
    }

    #header {
	margin-bottom: 5px;
    }

    /* SHRINKS HEADER SPACING */

    #header img {
	min-width: 35%; /* RESIZES LOGO */
	max-width: 100%;
    }

    #header fieldset {
	padding-top: 10px;
	visibility: visible; /* DISPLAYS MOBILE CANCEL BUTTON */
    }

    #receipt #header fieldset {
	display: none;
    }

    /* HIDES CANCEL BUTTON ON RECIPT PAGE */

    .container,
    #billing-oc .container,
    #shipping-oc .container,
    #payment-oc .container,
    #review-oc .container,
    #finish-oc .container {
	width: auto; /* SETS CONTAINER WIDTH */
	margin: 0 10px;
	overflow-x:hidden; /* STOPS WHITESPACE APPEARING WHEN FLIPPING FROM LANDSCAPE TO PORTRAIT */
	overflow-y: hidden; /* STOPS PIXEL JOG IN PORTRAIT VIEW */
    }

    #payment .container,
    #payment-oc .container {
	overflow:visible;
    }
    .right_column {
	display: none;
    }

    /* HIDES RIGHT HAND META COLUMN */

    #notinpaymentflow .left_column,
    .left_column,
    .column,
    .review_container {
	width: 100%; /* SETS COLUMN WIDTHS */
	background: none;
	border: none;
	padding: 0;
	margin-top: 10px;
	clear: both;
    }

    .widecolumn {
	width: 100%;
	margin: 0;
    }

    form {
	padding: 0;
    }

    /* REMOVES FORM PADDING */

    .progressbar {
	width: 97%; /* SETS WIDTH OF PROGRESS BAR INLINE WITH COLUMN WIDTH */
    }

    input[type=text],
    input[type=tel],
    input[type=email] {
	width: 93%; /* SETS WIDTH OF INPUTS INLINE WITH COLUMN WIDTH */
    }

    input[name=card_cvn] {
	width: 20%;
    }

    /* SETS CVN WIDTH IN MOBILE VIEW */

    ol li {
	padding: 6px 0;
    }

    ul li {
	padding: 0;
    }

    h1 {
	margin: 0 0 10px;
    }

    h2 {
	font-weight: normal;
    }

    h2.errormessage {
	margin: 0 0 10px;
    }

    /* REMOVES BOLD FROM H2 */

    h3 {
	font-size: 1.4em;
	padding: 5px 0;
    }

    #receipt h3 {
	padding: 10px 0;
    }

    .progressbar p {
	display: none;
    }

    /* HIDES TEXT IN PROGRESS BAR */

    .row {
	padding-top: 0;
    }

    #receipt .row {
	border: none;
    }

    /* REMOVES BORDER FROM ROWS ON MOBILE RECEIPT PAGE */

    #mobile .totalamount p {
	font-weight: bold;
	float: left;
	clear: both;
    }

    /* SETS TOTAL AMOUNT BELOW LABEL */
    .totalamount {
	color:inherit;
    }

    /* HIDES BG COLOR ON TOTAL AMOUNT */

    .hgroup {
	border: none;
	padding-top: 10px;
    }

    .column {
	border-bottom: 1px solid #d0d0d0;
    }

    .final {
	background: none;
	padding-top: 10px;
    }

    /* ONE STEP PAYMENT */

    li.secondhalf {
	float:none;
    }

    #payment-oc #card_type_selection li {
	width: 50%;
    }

    #payment_type {
	padding: 10px 0;
    }

    li#routing_number,
    li#account_number,
    li#echeck_driver_license_number,
    li#echeck_driver_license_state {
	clear: both;
	float: none;
    }

    input[name=echeck_check_number] {
	width: 25%;
    }

    li#date_of_birth ol li{
	min-width:275px;
    }

    #payment_type_echeck {
	min-width: 290px;
    }

    /* SINGLE PAGE */

    label, label.cardlabel, span#dob, #expiry_date {
	width: 100%;
    }

    #bill_to_address_line2, #ship_to_address_line2 {
	margin-left: 0;
    }

    #shipping_check_box {
	padding-left: 0;
    }

    /* PURCHASES INFO ON MOBILE */
    .purchases {
	display:none;
    }

    .purchases_mobile .purchases, .purchases_mobile  {
	display: block;
	padding: 0;
	/*border-top: 1px solid #ccc;
	padding-top: 15px;*/
    }

    .purchases_mobile{
	margin-top: 30px;
    }

    .purchases_mobile .totalamount{
	margin: 0;
	BORDER RADIUS
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
    }

    .purchases_mobile h1{
	border-bottom: 1px solid #D0D0D0;
	width: 100%;
    }

    .purchases_mobile ul li h2,
    .purchases_mobile ul li p {
	padding: 10px;}

    .purchases_mobile .totalamount h2 {
	margin-top: 0px;
	margin-left: -10px;
    }

    .purchases_mobile .totalamount p  {
	padding-bottom: 10px;
	clear: none;
    }

    select {
	max-width: 280px;
    }
}

/*------------------------ MOBILE LAYOUT (LANDSCAPE) ------------------------*/

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    select {
	max-width: 750px;
    }

    header img {
	min-width:25%;
	max-width:100%;
    }

    .container,
    #billing-oc .container,
    #shipping-oc .container,
    #payment-oc .container,
    #review-oc .container,
    #finish-oc .container  {
	width: auto;
	margin: 0 10px;
	overflow-x: visible;
	/*overflow-y: visible;*/
    }

    .left_column, .column, .review_container {
	width: 100%;
	background: none;
	padding: 0;
    }

    .widecolumn {
	width: 100%;
    }

    .progressbar {
	width: 98%;
    }

    input[type=text],
    input[type=tel],
    input[type=email] {
	width: 97%;
    }


    input[name=card_cvn] {
	width: 20%;
    }

    /* ONE STEP PAYMENT */

    li.firsthalf,
    li.secondhalf {
	width: 97%;
	float: left;
    }

    #payment-oc #card_type_selection li {
	width: 33%;
    }

    input[name=echeck_check_number] {
	width: 25%;
    }
}



li#routing_number,
li#account_number,
li#echeck_driver_license_number,
li#echeck_driver_license_state {
    float: none;
    clear: both;
    width: 100%;
}

#driver_license_state, select[name="echeck_account_type"] {
    width: 42.5%;
}

element.style {
    width: 400px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {

    #payment_details label, span.input_label {
	width:30%;
    }

    #payment_details .error {
	padding: 4px 4px 4px 30%;
    }

    #payment_details .spc_error {
	padding: 0px 0px 20px 0px;
    }
}



ul li {
    padding: 5px 0;
}

ul li h2 {
    float: left;
}

ul li p {
    text-align: right;
    margin-top: -2px;
}

.totalamount {
    margin: 0 -10px 5px -10px;
    padding: 10px 10px 0 10px;
}

.totalamount p {
    font-size: 1.8em;
    text-align: right;
    line-height: 0.3em;
    padding-bottom: 20px;
}

.secure {
    background: url(secure.png) no-repeat top right;
}

.hgroup {
    border-bottom: 1px solid #ededed;
    margin: 20px 25px 10px;
    height: 33px
}

.hgroup h1, .hgroup h3 {
    float: left;
    border: none;
    margin: 0;
}

.hgroup input {
    float: right;
}

.reviewbox .hgroup, .review_container .hgroup {
    margin: 0 0 10px;
}

/*------------------------ 3.0 PAGE LAYOUT ------------------------ */

#header, #footer {
    width: 100%;
}

#footer {
    clear: both;
    height: 60px;
}

/*------------------------ 3.1 PURCHASES BOX RIGHT COLUMN ------------------------ */

.purchases {
    padding: 10px 25px 20px;
}

/*------------------------ 3.2 REVIEW BOX ------------------------ */

.reviewbox {
    padding: 20px 25px;
}

/*------------------------ 3.3 SHARED BORDERS ------------------------ */

h1, .hgroup {
    border-bottom: 1px solid #d0d0d0;
}

/*------------------------ 4.0 PROGRESS BAR ------------------------ */

.progressbar {
    background-color: #f9f9f9;
    border: 1px solid #d0d0d0;
    text-shadow: 1px 1px #fff;
    margin-bottom: 15px;
    width: 99%;
    padding: 3px;
    color: #999;

    /* BORDER RADIUS */
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.progressbar:after {
    height: 0
}

.progressbar p {
    padding: 0;
}

.progressbar ol li {
    display: inline;
    float: left;
    text-align: center;
    padding: 4px 0;
    clear: none;
}

.progressbar .completed, .progressbar .current {
    font-weight: bold;
}

.progressbar .completed {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.progressbar .current {
    color: #FFF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.progressbar .first {
    /*-moz-border-top-left-radius:20px;
     -moz-border-bottom-left-radius:20px;*/
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.progressbar .last {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*------------------------ 5.0 FORMS ------------------------*/

form {
    padding: 0 25px;
}

fieldset form,
.button form {
    padding: 0;
}

legend span {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

div.legend {
    clear: both;
    padding-bottom: 4px;
}

label, input, textarea {
    font-size: 1.2em;
    clear: both;
    display: block;
    clear: both;
}

label {
    font-weight: bold;
    padding-bottom: 4px;
}

label[for=ship_to_billing_address] {
    clear: none;
    font-style: italic;
    font-weight: normal;
    padding-top: 3px;
    padding-left: 5px;
}

label[for=ship_to_address_line2] {
    display: none;
}

label[for=bill_to_address_line2] {
    display: none;
}

#required_field_explanation {
    text-align: right;
    font-size: 1.2em;
}

#required_field_char {
    font-weight: bold;
}


/* SELECT SPECIFIC */
select {
    background-color: #f9f9f9;
    font-size: 1.2em;
    color: #4D5357;
    padding: 6px;
}

form ol li:hover select, form ol li select:focus {
    background-color: #fff;
    -moz-box-shadow: 0px 1px 0px #d5d5d5;
    -webkit-box-shadow: 0px 1px 0px #d5d5d5;
    box-shadow: 0px 1px 0px #d5d5d5;
}

/* INPUT SPECIFIC */
input, textarea {
    padding: 6px;
    background-color: #f9f9f9;
}

input[type=radio] {
    border: none;
}

/* REMOVES BORDER ON RADIO INPUTS */

input[name=bill_to_address_line1] {
    margin-bottom: 5px;
}

input[name=ship_to_address_line1] {
    margin-bottom: 5px;
}

input[type=checkbox] {
    width: 15px;
    float: left; /* FLOATS LABEL BESIDE CHECKBOX */
    border: none; /* REMOVES BORDER ON CHECKBOX */
}


input.bigbutton {
    margin: 30px 0 20px;
    clear: none;
    padding: 7px;
    width: 145px;
}

input.smallbutton {
    width: 125px;
    font-size: 1.0em;
    text-align: center;
    padding: 3px 0;
    margin: 0 0 10px;
}

input[type=submit], input[type=button], input.smallbutton, .ui-dialog-buttonpane button {
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    color: #4D5357;

    /* BOX SHADOW */
    -moz-box-shadow: 0px 1px 0px #999;
    -webkit-box-shadow: 0px 1px 0px #999;
    box-shadow: 0px 1px 0px #999;
}

input[name=card_cvn] {
    width: 60px; /* SETS CVN WIDTH SO IMAGE CAN FIT BESIDE */
    float: left;
}

input[type=submit][disabled] {
    opacity: 0.4;
    cursor: auto;
}

input[type=submit]:hover, input[type=button]:hover, input.smallbutton:hover {
    color: #4D5357;

    /* BOX SHADOW */
    -moz-box-shadow: inset 0px 1px 0px #999;
    -webkit-box-shadow: inset 0px 1px 0px #999;
    box-shadow: inset 0px 1px 0px #999;
}

/* BUTTON 3D EFFECTS */

input[type=submit]:hover, input[type=button]:hover {
    padding-top: 8px;
    margin-bottom: 19px;
}

input.smallbutton:hover {
    padding-top: 4px;
    margin-bottom: 9px;
}

form ol li:hover input, form ol li input:focus {
    background-color: #fff;
    -moz-box-shadow: 0px 1px 0px #d5d5d5;
    -webkit-box-shadow: 0px 1px 0px #d5d5d5;
    box-shadow: 0px 1px 0px #d5d5d5;
}

/* REMOVED HOVER EFFECT ON RADIO INPUTS AND CHECKBOXES */
form ol li:hover input[type=radio], form ol li:hover input[type=checkbox] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* DISABLED INPUT */
input[disabled=disabled] {
    color: #999; /* CHANGES COLOUR OF DISABLED VALUE */
}

/* REMOVED HOVER EFFECT ON DISABLED INPUT FIELDS */
form ol li:hover input[disabled=disabled] {
    background-color: #f9f9f9;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* FIREFOX */

/*------------------------ 5.1 INPUT LENGTHS  ------------------------*/

input[name=bill_to_forename] {
    width: 65%;
}

input[name=bill_to_surname] {
    width: 65%;
}

input[name=bill_to_company_name] {
    width: 65%;
}

input[name=bill_to_address_line1] {
    width: 90%;
}

input[name=bill_to_address_line2] {
    width: 90%;
}

input[name=bill_to_address_city] {
    width: 40%;
}

input[name=bill_to_address_country] {
    width: 55%;
}

input[name=bill_to_address_state] {
    width: 40%;
}

input[name=bill_to_address_state_other] {
    width: 25%;
}

input[name=bill_to_address_postal_code] {
    width: 25%;
}

input[name=bill_to_phone] {
    width: 50%;
}

input[name=bill_to_email] {
    width: 50%;
}

input[name=ship_to_forename] {
    width: 65%;
}

input[name=ship_to_surname] {
    width: 65%;
}

input[name=ship_to_company_name] {
    width: 65%;
}

input[name=ship_to_address_line1] {
    width: 90%;
}

input[name=ship_to_address_line2] {
    width: 90%;
}

input[name=ship_to_address_city] {
    width: 40%;
}

input[name=ship_to_address_country] {
    width: 55%;
}

input[name=ship_to_address_state] {
    width: 40%;
}

input[name=ship_to_address_state_other] {
    width: 25%;
}

input[name=ship_to_address_postal_code] {
    width: 25%;
}

input[name=ship_to_phone] {
    width: 50%;
}

input[name=ship_to_email] {
    width: 50%;
}

input[name=creditcardnumber] {
    width: 45%;
}

input[name=cvn] {
    width: 15%;
}

select[name=jpo_payment_method] {
    width: 45%;
}

select[name=jpo_installments] {
    width: 18%;
}

/*------------------------ 5.2 CREDIT CARD IMAGES  ------------------------*/

fieldset fieldset ol {
    clear: both;
}

fieldset fieldset ol li {
    float: left;
    width: 49%; /* nmc */
    clear: none;
    margin-bottom: 5px;
}

fieldset ol li fieldset ol li label {
    background: none no-repeat left 50%;
    line-height: 22px;
    padding: 0 0 0 40px;
    width: auto;
    clear: none;
    float: left;
    font-weight: normal;
    font-size: 1.1em;
}

input[type=radio] {
    float: left;
    width: 14px; /* SET WIDTH TO STOP FLOATING ABOVE CARD IMAGE IN MOBILE VIEW */
}

span.input_label {
    font-size: 1.2em;
    clear: both;
    display: block;
    clear: both;
    font-weight: bold;
    padding-bottom: 4px;
}

label[for=card_type_001] {
    background-image: url(creditcards/visa.gif);
}

label[for=card_type_003] {
    background-image: url(creditcards/amex.gif);
}

label[for=card_type_004] {
    background-image: url(creditcards/discover.gif);
}

label[for=card_type_002] {
    background-image: url(creditcards/mastercard.gif);
}

label[for=card_type_005] {
    background-image: url(creditcards/diners.gif);
}

label[for=card_type_007] {
    background-image: url(creditcards/jcb.gif);
}

label[for=card_type_021] {
    background-image: url(creditcards/jal.gif);
}

label[for=card_type_014] {
    background-image: url(creditcards/enroute.gif);
}

label[for=card_type_027] {
    background-image: url(creditcards/nicos.gif);
}

label[for=card_type_031] {
    background-image: url(creditcards/delta.gif);
}

label[for=card_type_033] {
    background-image: url(creditcards/visa_electron.gif);
}

label[for=card_type_034] {
    background-image: url(creditcards/dankort.gif);
}

label[for=card_type_035] {
    background-image: url(creditcards/laser.gif);
}

label[for=card_type_036] {
    background-image: url(creditcards/cartebleue.gif);
}

label[for=card_type_037] {
    background-image: url(creditcards/cartasi.gif);
}

label[for=card_type_042] {
    background-image: url(creditcards/maestro.gif);
}

label[for=card_type_043] {
    background-image: url(creditcards/gemoney.gif);
}

label[for=card_type_024] {
    background-image: url(creditcards/maestro.gif);
}

label[for=card_type_006] {
    background-image: url(creditcards/carteblanche.gif);
}

label[for=card_type_053] {
    background-image: url(creditcards/orico.gif);
}

/*------------------------ 5.3 INLINE VALIDATION  ------------------------*/

.error {
    color: #FF7900;
    padding: 4px;
    font-size: 1.2em;
    font-weight: bold;
}

input.errorborder, select.errorborder, .errorborder {
    border: 2px solid #FF7900;
    /* BORDER RADIUS */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

ol.errorborder {
    padding-top: 4px;
    /* BORDER RADIUS */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/*------------------------ 6.0 REVIEW / RECEIPT / FINISH LAYOUT	 ------------------------*/

.review_container {
    padding: 5px 0;
}

.row {
    padding: 20px 0;
    display: block;
    clear: both;
}

/*.errormessagerow {*/
/*padding-top: 0;*/
/*display: block;*/
/*clear: both;*/
/*}*/

.column {
    width: 356px;
    padding: 0 30px;
    float: left;
}

.widecolumn {
    width: 780px;
    margin: 0 30px;
    float: left;
}

#receipt h1, #finish h1 {
    font-size: 2.4em;
    margin: 0;
    border: none;
}

#finish .row {
    border-top: 1px solid #D0D0D0;
}

#receipt .final {
    padding-left: 30px;
}

#receipt form, #finish form {
    background: none;
    padding: 0;
}

#receipt .rule {
    margin: 0px 25px;
    border: none;
    border-top: 1px solid #D0D0D0;
    clear: both;
}

#finish .button {
    clear: both;
}

/*------------------------ 7.0 GRADIENTS ------------------------*/

input[type=submit], input[type=button], input.smallbutton, .ui-dialog .ui-dialog-buttonpane button {
    background: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-8 */
}

input[type=submit]:hover, input[type=button]:hover, input.smallbutton:hover, .ui-dialog .ui-dialog-buttonpane button:hover {
    background-color: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(99%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* IE10+ */
    background: linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5e5e5', endColorstr = '#ffffff', GradientType = 0); /* IE6-8 */
}

/*------------------------ 8.0 USEFUL CLASSES ------------------------*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

/* CLEARFIX */

.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}


/* ADDITIONAL STYLES FOR SERVICE FEE
------------------------------------------------ */
.terms p {
    font-size: 1.0em;
    text-shadow: 1px 1px #fff;
}

.terms a {
    color: #1C3B6D;
}

.terms a:hover {
    text-decoration: none;
}

#terms_dialog p {
    font-size: 1.0em;
    text-shadow: 1px 1px #fff;
    margin: 5px;
}

.copy {
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
    height: 360px;
}

.copy h2 {
    font-weight: bold;
    font-size: 1.3em;
}

/* ADDITIONAL STYLES FOR E-CHECK
------------------------------------------------ */

/* THESE CAN BE TURNED OFF BY THE MERCHANT IN THE UBC */

#echeck_check_number {
}

#echeck_dob {
}

#driver_license_number {
}

#driver_license_state {
}

#company_tax_id {
}

li#routing_number {
    width: 35%;
    float: left;
    clear: none;
}

li#account_number {
    width: 50%;
    float: left;
    clear: none;
}

li#echeck_driver_license_number {
    width: 50%;
    float: left;
    clear: none;
}

li#echeck_driver_license_state {
    width: 50%;
    display: block;
}

/* THESE CAN BE MOVED TO WHERE THE OTHER LABELS APPEAR FURTHER UP THIS STYLESHEET */

input[name=echeck_routing_number] {
    width: 80%;
}

input[name=echeck_account_number] {
    width: 100%;
}

input[name=echeck_check_number] {
    width: 22%;
}

select[name=echeck_account_type] {
    width: 45%;
}

input[name=driver_license_number] {
    width: 85%;
}

input[name=driver_license_state] {
    width: 15%;
}

input[name=company_tax_id] {
    width: 40%;
}

/* REDUCES SPACING ON REVIEW PAGE */

.echeck {
    padding-top: 5px;
}

.echeck li {
    padding: 0;
}

/*------------------------ 9.0 MEDIA QUERIES FOR REFERENCE ONLY -----------------------*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}



body, input, textarea, .chzn-single, .chzn-results{
    font-family: Arial, Helvetica, sans-serif;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.2em; }
p, label  { font-size: 1.2em; }


#footer p {
    color: #5f8aaa;
}

input, textarea {
    background-color: #f9f9f9;
}

#header {
    background: #003C69;
    display: block;
}

.left_column, .right_column, .review_container {
    background-color: #fff;
}

#footer {
    background: #003C69;
    display: none;
}

#notification_logo {
    display: none;
}

#mobile, .totalamount {
    background-color: #EDF9EC;
    color: #4D5357;
}

.ui-widget-header {
    background: #EDF9EC;
    color: #4D5357;
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
}

.ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
}

.progressbar .completed,
.progressbar .current {
    background: #88D47E;
}

.progressbar .completed {
    color:  #5f9458;
}

input.complete {
    color: #fff;
    border: 1px solid #61c361;
    text-shadow: none;
    background: #448944;

    /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYzQ2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MWEzNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #61c361 0%, #448944 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #61c361), color-stop(100%, #448944)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #61c361 0%, #448944 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #61c361 0%, #448944 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #61c361 0%, #448944 100%); /* IE10+ */
    background: linear-gradient(top, #61c361 0%, #448944 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#61c361', endColorstr = '#448944', GradientType = 0); /* IE6-8 */
}

input.complete:hover {
    color: #FFFFFF;
    background: #61c361;

    /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzUxYTM1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MmM0NjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #448944 1%, #61c361 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #448944), color-stop(100%, #61c361)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #448944 1%, #61c361 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #448944 1%, #61c361 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #448944 1%, #61c361 100%); /* IE10+ */
    background: linear-gradient(top, #448944 1%, #61c361 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#448944', endColorstr = '#61c361', GradientType = 0); /* IE6-8 */

    /* BOX SHADOW */
    -moz-box-shadow: inset 0px 1px 0px #61c361;
    -webkit-box-shadow: inset 0px 1px 0px #61c361;
    box-shadow: inset 0px 1px 0px #61c361;
}

/* Layout helpers
----------------------------------*/

.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0);
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}



/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible; /* removes extra width in IE */
}


/* button text element */
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}
.ui-button-text-only .ui-button-text {
    padding: 3px 25px;
}

/* no icon support for input elements, provide padding by default */
input.ui-button {
    padding: .4em 1em;
}


/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0em;
    outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .5em 1.1em;
    position: relative;
}

.ui-dialog .ui-dialog-title {
    float: right;
    margin: .1em 0;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
}

.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

/* Component containers
----------------------------------*/

.ui-widget input,
.ui-widget select,
.ui-widget textarea, {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
}

.ui-widget {
    font-size: 1.4em;
}

.ui-widget button {
    font-weight: bold;
    text-shadow: 1px 1px #FFFFFF;
    font-size: 0.8em;
}


/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    color: #555555;
}


/* Interaction Cues
----------------------------------*/
.ui-widget-header {
    font-weight: bold;
}


.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter:Alpha(Opacity=70);
    font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35);
    background-image: none;
}
.ui-state-disabled .ui-icon {
    filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px;
}

/* 

TITLE: CYBERSOURCE MOBILE PAYMENT PROCESS DEMO
DATE: 19/02/2012
REVISION: 26/03/2012
CODE: TP

COLOURS
=======

BLUE:	#003C69 - BANNER / FOOTER
GREY:	#4D5357 - HEADERS / LABELS
GREEN:	#88D47E - CONFIRMATION GREEN
ORANGE: #FF7900 - ERROR ALERT


CONTENTS
========

1.0 - GLOBAL STYLES
2.0 - TYPOGRAPHY
3.0 - PAGE LAYOUT
   3.1 - PURCHASES BOX RIGHT COLUMN
   3.2 - REVIEW BOX
   3.3 - SHARED BORDERS
4.0 - PROGRESS BAR
5.0 - FORMS
   5.1 - INPUT LENGTHS
   5.2 - CREDIT CARD IMAGES
   5.3 - INLINE VALIDATION
6.0 - RECEIPT LAYOUT
7.0 - GRADIENTS (CROSS BROWSER COMPATIBLE)
8.0 - USEFUL CLASSES
9.0 - MEDIA QUERIES REFERENCE


*/

/*------------------------ 1.0 GLOBAL STYLES ------------------------*/


body {
    font-size: 62.5%; /* 10px = 1.0em / 15px = 1.5em etc */
    direction: ltr; /* Sets text to read Left to Right */
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

/*------------------------ 2.0 TYPOGRAPHY ------------------------ */


p.errormessage {
    margin: 0px 25px 0px;
    padding-bottom: 0px;
    color: #FF7900;
    font-weight: bold;
    padding-bottom: 10px;
    float: left;
}

h2, p {
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 15px;
}

p {
    line-height: 1.5em;
}

#footer p {
    padding: 20px 0;
}

li {
    clear: both;
}

ul li {
    padding: 5px 0;
}

ul li h2 {
    float: left;
}

ul li p {
    text-align: right;
    margin-top: -2px;
}

.totalamount {
    margin: 0 -10px 5px -10px;
    padding: 10px 10px 0 10px;
}

.totalamount p {
    font-size: 1.8em;
    text-align: right;
    line-height: 0.3em;
    padding-bottom: 20px;
}

.secure {
    background: url(secure.png) no-repeat top right;
}

.hgroup {
    border-bottom: 1px solid #ededed;
    margin: 20px 25px 10px;
    height: 33px
}

.hgroup h1, .hgroup h3 {
    float: left;
    border: none;
    margin: 0;
}

.hgroup input {
    float: right;
}

.reviewbox .hgroup, .review_container .hgroup {
    margin: 0 0 10px;
}

/*------------------------ 3.0 PAGE LAYOUT ------------------------ */

#header, #footer {
    width: 100%;
}

#footer {
    clear: both;
    height: 60px;
}

/*------------------------ 3.1 PURCHASES BOX RIGHT COLUMN ------------------------ */

.purchases {
    padding: 10px 25px 20px;
}

/*------------------------ 3.2 REVIEW BOX ------------------------ */

.reviewbox {
    padding: 20px 25px;
}

/*------------------------ 3.3 SHARED BORDERS ------------------------ */

h1, .hgroup {
    border-bottom: 1px solid #d0d0d0;
}

/*------------------------ 4.0 PROGRESS BAR ------------------------ */

.progressbar {
    background-color: #f9f9f9;
    border: 1px solid #d0d0d0;
    text-shadow: 1px 1px #fff;
    margin-bottom: 15px;
    width: 99%;
    padding: 3px;
    color: #999;

    /* BORDER RADIUS */
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.progressbar:after {
    height: 0
}

.progressbar p {
    padding: 0;
}

.progressbar ol li {
    display: inline;
    float: left;
    text-align: center;
    padding: 4px 0;
    clear: none;
}

.progressbar .completed, .progressbar .current {
    font-weight: bold;
}

.progressbar .completed {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.progressbar .current {
    color: #FFF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.progressbar .first {
    /*-moz-border-top-left-radius:20px;
     -moz-border-bottom-left-radius:20px;*/
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.progressbar .last {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*------------------------ 5.0 FORMS ------------------------*/

form {
    padding: 0 25px;
}

fieldset form,
.button form {
    padding: 0;
}

legend span {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

div.legend {
    clear: both;
    padding-bottom: 4px;
}

label, input, textarea {
    font-size: 1.2em;
    clear: both;
    display: block;
    clear: both;
}

label {
    font-weight: bold;
    padding-bottom: 4px;
}

label[for=ship_to_billing_address] {
    clear: none;
    font-style: italic;
    font-weight: normal;
    padding-top: 3px;
    padding-left: 5px;
}

label[for=ship_to_address_line2] {
    display: none;
}

label[for=bill_to_address_line2] {
    display: none;
}

#required_field_explanation {
    text-align: right;
    font-size: 1.2em;
}

#required_field_char {
    font-weight: bold;
}


/* SELECT SPECIFIC */
select {
    background-color: #f9f9f9;
    font-size: 1.2em;
    color: #4D5357;
    padding: 6px;
}

form ol li:hover select, form ol li select:focus {
    background-color: #fff;
    -moz-box-shadow: 0px 1px 0px #d5d5d5;
    -webkit-box-shadow: 0px 1px 0px #d5d5d5;
    box-shadow: 0px 1px 0px #d5d5d5;
}

/* INPUT SPECIFIC */
input, textarea {
    padding: 6px;
    background-color: #f9f9f9;
}

input[type=radio] {
    border: none;
}

/* REMOVES BORDER ON RADIO INPUTS */

input[name=bill_to_address_line1] {
    margin-bottom: 5px;
}

input[name=ship_to_address_line1] {
    margin-bottom: 5px;
}

input[type=checkbox] {
    width: 15px;
    float: left; /* FLOATS LABEL BESIDE CHECKBOX */
    border: none; /* REMOVES BORDER ON CHECKBOX */
}

input[type=submit], input[type=button], #receipt input[type=button], #finish input[type=button] {
    margin: 30px 0 20px;
    clear: none;
    padding: 7px;
    min-width: 100px;
}

input.bigbutton {
    margin: 30px 0 20px;
    clear: none;
    padding: 7px;
    width: 145px;
}

input.smallbutton {
    width: 125px;
    font-size: 1.0em;
    text-align: center;
    padding: 3px 0;
    margin: 0 0 10px;
}

input[type=submit], input[type=button], input.smallbutton, .ui-dialog-buttonpane button {
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    color: #4D5357;

    /* BOX SHADOW */
    -moz-box-shadow: 0px 1px 0px #999;
    -webkit-box-shadow: 0px 1px 0px #999;
    box-shadow: 0px 1px 0px #999;
}

input[name=card_cvn] {
    width: 60px; /* SETS CVN WIDTH SO IMAGE CAN FIT BESIDE */
    float: left;
}

input[type=submit][disabled] {
    opacity: 0.4;
    cursor: auto;
}

input[type=submit]:hover, input[type=button]:hover, input.smallbutton:hover {
    color: #4D5357;

    /* BOX SHADOW */
    -moz-box-shadow: inset 0px 1px 0px #999;
    -webkit-box-shadow: inset 0px 1px 0px #999;
    box-shadow: inset 0px 1px 0px #999;
}

/* BUTTON 3D EFFECTS */

input[type=submit]:hover, input[type=button]:hover {
    padding-top: 8px;
    margin-bottom: 19px;
}

input.smallbutton:hover {
    padding-top: 4px;
    margin-bottom: 9px;
}

form ol li:hover input, form ol li input:focus {
    background-color: #fff;
    -moz-box-shadow: 0px 1px 0px #d5d5d5;
    -webkit-box-shadow: 0px 1px 0px #d5d5d5;
    box-shadow: 0px 1px 0px #d5d5d5;
}

/* REMOVED HOVER EFFECT ON RADIO INPUTS AND CHECKBOXES */
form ol li:hover input[type=radio], form ol li:hover input[type=checkbox] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* DISABLED INPUT */
input[disabled=disabled] {
    color: #999; /* CHANGES COLOUR OF DISABLED VALUE */
}

/* REMOVED HOVER EFFECT ON DISABLED INPUT FIELDS */
form ol li:hover input[disabled=disabled] {
    background-color: #f9f9f9;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* FIREFOX */

/*------------------------ 5.1 INPUT LENGTHS  ------------------------*/

input[name=bill_to_forename] {
    width: 65%;
}

input[name=bill_to_surname] {
    width: 65%;
}

input[name=bill_to_company_name] {
    width: 65%;
}

input[name=bill_to_address_line1] {
    width: 90%;
}

input[name=bill_to_address_line2] {
    width: 90%;
}

input[name=bill_to_address_city] {
    width: 40%;
}

input[name=bill_to_address_country] {
    width: 55%;
}

input[name=bill_to_address_state] {
    width: 40%;
}

input[name=bill_to_address_state_other] {
    width: 25%;
}

input[name=bill_to_address_postal_code] {
    width: 25%;
}

input[name=bill_to_phone] {
    width: 50%;
}

input[name=bill_to_email] {
    width: 50%;
}

input[name=ship_to_forename] {
    width: 65%;
}

input[name=ship_to_surname] {
    width: 65%;
}

input[name=ship_to_company_name] {
    width: 65%;
}

input[name=ship_to_address_line1] {
    width: 90%;
}

input[name=ship_to_address_line2] {
    width: 90%;
}

input[name=ship_to_address_city] {
    width: 40%;
}

input[name=ship_to_address_country] {
    width: 55%;
}

input[name=ship_to_address_state] {
    width: 40%;
}

input[name=ship_to_address_state_other] {
    width: 25%;
}

input[name=ship_to_address_postal_code] {
    width: 25%;
}

input[name=ship_to_phone] {
    width: 50%;
}

input[name=ship_to_email] {
    width: 50%;
}

input[name=creditcardnumber] {
    width: 45%;
}

input[name=cvn] {
    width: 15%;
}

select[name=jpo_payment_method] {
    width: 45%;
}

select[name=jpo_installments] {
    width: 18%;
}

/*------------------------ 5.2 CREDIT CARD IMAGES  ------------------------*/

fieldset fieldset ol {
    clear: both;
}

fieldset fieldset ol li {
    float: left;
    width: 49%; /* nmc */
    clear: none;
    margin-bottom: 5px;
}

fieldset ol li fieldset ol li label {
    background: none no-repeat left 50%;
    line-height: 22px;
    padding: 0 0 0 40px;
    width: auto;
    clear: none;
    float: left;
    font-weight: normal;
    font-size: 1.1em;
}

input[type=radio] {
    float: left;
    width: 14px; /* SET WIDTH TO STOP FLOATING ABOVE CARD IMAGE IN MOBILE VIEW */
}

span.input_label {
    font-size: 1.2em;
    clear: both;
    display: block;
    clear: both;
    font-weight: bold;
    padding-bottom: 4px;
}

label[for=card_type_001] {
    background-image: url(creditcards/visa.gif);
}

label[for=card_type_003] {
    background-image: url(creditcards/amex.gif);
}

label[for=card_type_004] {
    background-image: url(creditcards/discover.gif);
}

label[for=card_type_002] {
    background-image: url(creditcards/mastercard.gif);
}

label[for=card_type_005] {
    background-image: url(creditcards/diners.gif);
}

label[for=card_type_007] {
    background-image: url(creditcards/jcb.gif);
}

label[for=card_type_021] {
    background-image: url(creditcards/jal.gif);
}

label[for=card_type_014] {
    background-image: url(creditcards/enroute.gif);
}

label[for=card_type_027] {
    background-image: url(creditcards/nicos.gif);
}

label[for=card_type_031] {
    background-image: url(creditcards/delta.gif);
}

label[for=card_type_033] {
    background-image: url(creditcards/visa_electron.gif);
}

label[for=card_type_034] {
    background-image: url(creditcards/dankort.gif);
}

label[for=card_type_035] {
    background-image: url(creditcards/laser.gif);
}

label[for=card_type_036] {
    background-image: url(creditcards/cartebleue.gif);
}

label[for=card_type_037] {
    background-image: url(creditcards/cartasi.gif);
}

label[for=card_type_042] {
    background-image: url(creditcards/maestro.gif);
}

label[for=card_type_043] {
    background-image: url(creditcards/gemoney.gif);
}

label[for=card_type_024] {
    background-image: url(creditcards/maestro.gif);
}

label[for=card_type_006] {
    background-image: url(creditcards/carteblanche.gif);
}

label[for=card_type_053] {
    background-image: url(creditcards/orico.gif);
}

/*------------------------ 5.3 INLINE VALIDATION  ------------------------*/

.error {
    color: #FF7900;
    padding: 4px;
    font-size: 1.2em;
    font-weight: bold;
}

input.errorborder, select.errorborder, .errorborder {
    border: 2px solid #FF7900;
    /* BORDER RADIUS */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

ol.errorborder {
    padding-top: 4px;
    /* BORDER RADIUS */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/*------------------------ 6.0 REVIEW / RECEIPT / FINISH LAYOUT	 ------------------------*/

.review_container {
    padding: 5px 0;
}

.row {
    padding: 20px 0;
    display: block;
    clear: both;
}

/*.errormessagerow {*/
/*padding-top: 0;*/
/*display: block;*/
/*clear: both;*/
/*}*/

.column {
    width: 356px;
    padding: 0 30px;
    float: left;
}

.widecolumn {
    width: 780px;
    margin: 0 30px;
    float: left;
}

#receipt h1, #finish h1 {
    font-size: 2.4em;
    margin: 0;
    border: none;
}

#finish .row {
    border-top: 1px solid #D0D0D0;
}

#receipt .final {
    padding-left: 30px;
}

#receipt form, #finish form {
    background: none;
    padding: 0;
}

#receipt .rule {
    margin: 0px 25px;
    border: none;
    border-top: 1px solid #D0D0D0;
    clear: both;
}

#finish .button {
    clear: both;
}

/*------------------------ 7.0 GRADIENTS ------------------------*/

input[type=submit], input[type=button], input.smallbutton, .ui-dialog .ui-dialog-buttonpane button {
    background: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-8 */
}

input[type=submit]:hover, input[type=button]:hover, input.smallbutton:hover, .ui-dialog .ui-dialog-buttonpane button:hover {
    background-color: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(99%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* IE10+ */
    background: linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5e5e5', endColorstr = '#ffffff', GradientType = 0); /* IE6-8 */
}

/*------------------------ 8.0 USEFUL CLASSES ------------------------*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

/* CLEARFIX */

.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}


/* ADDITIONAL STYLES FOR SERVICE FEE
------------------------------------------------ */
.terms p {
    font-size: 1.0em;
    text-shadow: 1px 1px #fff;
}

.terms a {
    color: #1C3B6D;
}

.terms a:hover {
    text-decoration: none;
}

#terms_dialog p {
    font-size: 1.0em;
    text-shadow: 1px 1px #fff;
    margin: 5px;
}

.copy {
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
    height: 360px;
}

.copy h2 {
    font-weight: bold;
    font-size: 1.3em;
}

/* ADDITIONAL STYLES FOR E-CHECK
------------------------------------------------ */

/* THESE CAN BE TURNED OFF BY THE MERCHANT IN THE UBC */

#echeck_check_number {
}

#echeck_dob {
}

#driver_license_number {
}

#driver_license_state {
}

#company_tax_id {
}

li#routing_number {
    width: 35%;
    float: left;
    clear: none;
}

li#account_number {
    width: 50%;
    float: left;
    clear: none;
}

li#echeck_driver_license_number {
    width: 50%;
    float: left;
    clear: none;
}

li#echeck_driver_license_state {
    width: 50%;
    display: block;
}

/* THESE CAN BE MOVED TO WHERE THE OTHER LABELS APPEAR FURTHER UP THIS STYLESHEET */

input[name=echeck_routing_number] {
    width: 80%;
}

input[name=echeck_account_number] {
    width: 100%;
}

input[name=echeck_check_number] {
    width: 22%;
}

select[name=echeck_account_type] {
    width: 45%;
}

input[name=driver_license_number] {
    width: 85%;
}

input[name=driver_license_state] {
    width: 15%;
}

input[name=company_tax_id] {
    width: 40%;
}

/* REDUCES SPACING ON REVIEW PAGE */

.echeck {
    padding-top: 5px;
}

.echeck li {
    padding: 0;
}

/*------------------------ 9.0 MEDIA QUERIES FOR REFERENCE ONLY -----------------------*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup 
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

/* 

TITLE: CYBERSOURCE MOBILE PAYMENT PROCESS DEMO
DATE: 19/02/2012
REVISION: 26/03/2012
CODE: TP

COLOURS
=======

BLUE:	#003C69 - BANNER / FOOTER
GREY:	#4D5357 - HEADERS / LABELS
GREEN:	#88D47E - CONFIRMATION GREEN
ORANGE: #FF7900 - ERROR ALERT


CONTENTS
========

1.0 - GLOBAL STYLES
2.0 - TYPOGRAPHY
3.0 - PAGE LAYOUT
   3.1 - PURCHASES BOX RIGHT COLUMN
   3.2 - REVIEW BOX
   3.3 - SHARED BORDERS
4.0 - PROGRESS BAR
5.0 - FORMS
   5.1 - INPUT LENGTHS
   5.2 - CREDIT CARD IMAGES
   5.3 - INLINE VALIDATION
6.0 - RECEIPT LAYOUT
7.0 - GRADIENTS (CROSS BROWSER COMPATIBLE)
8.0 - USEFUL CLASSES
9.0 - MEDIA QUERIES REFERENCE


*/

/*------------------------ 1.0 GLOBAL STYLES ------------------------*/



/*------------------------ 2.0 TYPOGRAPHY ------------------------ */


p.errormessage {
    margin: 0px 25px 0px;
    padding-bottom: 0px;
    color: #FF7900;
    font-weight: bold;
    padding-bottom: 10px;
    float: left;
}

h2, p {
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 15px;
}

p {
    line-height: 1.5em;
}

#footer p {
    padding: 20px 0;
}

li {
    clear: both;
}

ul li {
    padding: 5px 0;
}

ul li h2 {
    float: left;
}

ul li p {
    text-align: right;
    margin-top: -2px;
}

.totalamount {
    margin: 0 -10px 5px -10px;
    padding: 10px 10px 0 10px;
}

.totalamount p {
    font-size: 1.8em;
    text-align: right;
    line-height: 0.3em;
    padding-bottom: 20px;
}

.secure {
    background: url(secure.png) no-repeat top right;
}

.hgroup {
    border-bottom: 1px solid #ededed;
    margin: 20px 25px 10px;
    height: 33px
}

.hgroup h1, .hgroup h3 {
    float: left;
    border: none;
    margin: 0;
}

.hgroup input {
    float: right;
}

.reviewbox .hgroup, .review_container .hgroup {
    margin: 0 0 10px;
}

/*------------------------ 3.0 PAGE LAYOUT ------------------------ */

#header, #footer {
    width: 100%;
}

#footer {
    clear: both;
    height: 60px;
}

/*------------------------ 3.1 PURCHASES BOX RIGHT COLUMN ------------------------ */

.purchases {
    padding: 10px 25px 20px;
}

/*------------------------ 3.2 REVIEW BOX ------------------------ */

.reviewbox {
    padding: 20px 25px;
}

/*------------------------ 3.3 SHARED BORDERS ------------------------ */

h1, .hgroup {
    border-bottom: 1px solid #d0d0d0;
}

/*------------------------ 4.0 PROGRESS BAR ------------------------ */

.progressbar {
    background-color: #f9f9f9;
    border: 1px solid #d0d0d0;
    text-shadow: 1px 1px #fff;
    margin-bottom: 15px;
    width: 99%;
    padding: 3px;
    color: #999;

    /* BORDER RADIUS */
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.progressbar:after {
    height: 0
}

.progressbar p {
    padding: 0;
}

.progressbar ol li {
    display: inline;
    float: left;
    text-align: center;
    padding: 4px 0;
    clear: none;
}

.progressbar .completed, .progressbar .current {
    font-weight: bold;
}

.progressbar .completed {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}

.progressbar .current {
    color: #FFF;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.progressbar .first {
    /*-moz-border-top-left-radius:20px;
     -moz-border-bottom-left-radius:20px;*/
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.progressbar .last {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*------------------------ 5.0 FORMS ------------------------*/

form {
    padding: 0 25px;
}

fieldset form,
.button form {
    padding: 0;
}

legend span {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

div.legend {
    clear: both;
    padding-bottom: 4px;
}

label, input, textarea {
    font-size: 1.2em;
    clear: both;
    display: block;
    clear: both;
}

label {
    font-weight: bold;
    padding-bottom: 4px;
}

label[for=ship_to_billing_address] {
    clear: none;
    font-style: italic;
    font-weight: normal;
    padding-top: 3px;
    padding-left: 5px;
}

label[for=ship_to_address_line2] {
    display: none;
}

label[for=bill_to_address_line2] {
    display: none;
}

#required_field_explanation {
    text-align: right;
    font-size: 1.2em;
}

#required_field_char {
    font-weight: bold;
}


/* SELECT SPECIFIC */
select {
    background-color: #f9f9f9;
    font-size: 1.2em;
    color: #4D5357;
    padding: 6px;
}

form ol li:hover select, form ol li select:focus {
    background-color: #fff;
    -moz-box-shadow: 0px 1px 0px #d5d5d5;
    -webkit-box-shadow: 0px 1px 0px #d5d5d5;
    box-shadow: 0px 1px 0px #d5d5d5;
}

/* INPUT SPECIFIC */
input, textarea {
    padding: 6px;
    background-color: #f9f9f9;
}

input[type=radio] {
    border: none;
}

/* REMOVES BORDER ON RADIO INPUTS */

input[name=bill_to_address_line1] {
    margin-bottom: 5px;
}

input[name=ship_to_address_line1] {
    margin-bottom: 5px;
}

input[type=checkbox] {
    width: 15px;
    float: left; /* FLOATS LABEL BESIDE CHECKBOX */
    border: none; /* REMOVES BORDER ON CHECKBOX */
}

input[type=submit], input[type=button], #receipt input[type=button], #finish input[type=button] {
    margin: 30px 0 20px;
    clear: none;
    padding: 7px;
    min-width: 100px;
}

input.bigbutton {
    margin: 30px 0 20px;
    clear: none;
    padding: 7px;
    width: 145px;
}

input.smallbutton {
    width: 125px;
    font-size: 1.0em;
    text-align: center;
    padding: 3px 0;
    margin: 0 0 10px;
}

input[type=submit], input[type=button], input.smallbutton, .ui-dialog-buttonpane button {
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    color: #4D5357;

    /* BOX SHADOW */
    -moz-box-shadow: 0px 1px 0px #999;
    -webkit-box-shadow: 0px 1px 0px #999;
    box-shadow: 0px 1px 0px #999;
}

input[name=card_cvn] {
    width: 60px; /* SETS CVN WIDTH SO IMAGE CAN FIT BESIDE */
    float: left;
}

input[type=submit][disabled] {
    opacity: 0.4;
    cursor: auto;
}

input[type=submit]:hover, input[type=button]:hover, input.smallbutton:hover {
    color: #4D5357;

    /* BOX SHADOW */
    -moz-box-shadow: inset 0px 1px 0px #999;
    -webkit-box-shadow: inset 0px 1px 0px #999;
    box-shadow: inset 0px 1px 0px #999;
}

/* BUTTON 3D EFFECTS */

input[type=submit]:hover, input[type=button]:hover {
    padding-top: 8px;
    margin-bottom: 19px;
}

input.smallbutton:hover {
    padding-top: 4px;
    margin-bottom: 9px;
}

form ol li:hover input, form ol li input:focus {
    background-color: #fff;
    -moz-box-shadow: 0px 1px 0px #d5d5d5;
    -webkit-box-shadow: 0px 1px 0px #d5d5d5;
    box-shadow: 0px 1px 0px #d5d5d5;
}

/* REMOVED HOVER EFFECT ON RADIO INPUTS AND CHECKBOXES */
form ol li:hover input[type=radio], form ol li:hover input[type=checkbox] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* DISABLED INPUT */
input[disabled=disabled] {
    color: #999; /* CHANGES COLOUR OF DISABLED VALUE */
}

/* REMOVED HOVER EFFECT ON DISABLED INPUT FIELDS */
form ol li:hover input[disabled=disabled] {
    background-color: #f9f9f9;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* FIREFOX */

/*------------------------ 5.1 INPUT LENGTHS  ------------------------*/

input[name=bill_to_forename] {
    width: 65%;
}

input[name=bill_to_surname] {
    width: 65%;
}

input[name=bill_to_company_name] {
    width: 65%;
}

input[name=bill_to_address_line1] {
    width: 90%;
}

input[name=bill_to_address_line2] {
    width: 90%;
}

input[name=bill_to_address_city] {
    width: 40%;
}

input[name=bill_to_address_country] {
    width: 55%;
}

input[name=bill_to_address_state] {
    width: 40%;
}

input[name=bill_to_address_state_other] {
    width: 25%;
}

input[name=bill_to_address_postal_code] {
    width: 25%;
}

input[name=bill_to_phone] {
    width: 50%;
}

input[name=bill_to_email] {
    width: 50%;
}

input[name=ship_to_forename] {
    width: 65%;
}

input[name=ship_to_surname] {
    width: 65%;
}

input[name=ship_to_company_name] {
    width: 65%;
}

input[name=ship_to_address_line1] {
    width: 90%;
}

input[name=ship_to_address_line2] {
    width: 90%;
}

input[name=ship_to_address_city] {
    width: 40%;
}

input[name=ship_to_address_country] {
    width: 55%;
}

input[name=ship_to_address_state] {
    width: 40%;
}

input[name=ship_to_address_state_other] {
    width: 25%;
}

input[name=ship_to_address_postal_code] {
    width: 25%;
}

input[name=ship_to_phone] {
    width: 50%;
}

input[name=ship_to_email] {
    width: 50%;
}

input[name=creditcardnumber] {
    width: 45%;
}

input[name=cvn] {
    width: 15%;
}

select[name=jpo_payment_method] {
    width: 45%;
}

select[name=jpo_installments] {
    width: 18%;
}

/*------------------------ 5.2 CREDIT CARD IMAGES  ------------------------*/

fieldset fieldset ol {
    clear: both;
}

fieldset fieldset ol li {
    float: left;
    width: 49%; /* nmc */
    clear: none;
    margin-bottom: 5px;
}

fieldset ol li fieldset ol li label {
    background: none no-repeat left 50%;
    line-height: 22px;
    padding: 0 0 0 40px;
    width: auto;
    clear: none;
    float: left;
    font-weight: normal;
    font-size: 1.1em;
}

input[type=radio] {
    float: left;
    width: 14px; /* SET WIDTH TO STOP FLOATING ABOVE CARD IMAGE IN MOBILE VIEW */
}

span.input_label {
    font-size: 1.2em;
    clear: both;
    display: block;
    clear: both;
    font-weight: bold;
    padding-bottom: 4px;
}

label[for=card_type_001] {
    background-image: url(creditcards/visa.gif);
}

label[for=card_type_003] {
    background-image: url(creditcards/amex.gif);
}

label[for=card_type_004] {
    background-image: url(creditcards/discover.gif);
}

label[for=card_type_002] {
    background-image: url(creditcards/mastercard.gif);
}

label[for=card_type_005] {
    background-image: url(creditcards/diners.gif);
}

label[for=card_type_007] {
    background-image: url(creditcards/jcb.gif);
}

label[for=card_type_021] {
    background-image: url(creditcards/jal.gif);
}

label[for=card_type_014] {
    background-image: url(creditcards/enroute.gif);
}

label[for=card_type_027] {
    background-image: url(creditcards/nicos.gif);
}

label[for=card_type_031] {
    background-image: url(creditcards/delta.gif);
}

label[for=card_type_033] {
    background-image: url(creditcards/visa_electron.gif);
}

label[for=card_type_034] {
    background-image: url(creditcards/dankort.gif);
}

label[for=card_type_035] {
    background-image: url(creditcards/laser.gif);
}

label[for=card_type_036] {
    background-image: url(creditcards/cartebleue.gif);
}

label[for=card_type_037] {
    background-image: url(creditcards/cartasi.gif);
}

label[for=card_type_042] {
    background-image: url(creditcards/maestro.gif);
}

label[for=card_type_043] {
    background-image: url(creditcards/gemoney.gif);
}

label[for=card_type_024] {
    background-image: url(creditcards/maestro.gif);
}

label[for=card_type_006] {
    background-image: url(creditcards/carteblanche.gif);
}

label[for=card_type_053] {
    background-image: url(creditcards/orico.gif);
}

/*------------------------ 5.3 INLINE VALIDATION  ------------------------*/

.error {
    color: #FF7900;
    padding: 4px;
    font-size: 1.2em;
    font-weight: bold;
}

input.errorborder, select.errorborder, .errorborder {
    border: 2px solid #FF7900;
    /* BORDER RADIUS */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

ol.errorborder {
    padding-top: 4px;
    /* BORDER RADIUS */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/*------------------------ 6.0 REVIEW / RECEIPT / FINISH LAYOUT	 ------------------------*/

.review_container {
    padding: 5px 0;
}

.row {
    padding: 20px 0;
    display: block;
    clear: both;
}

/*.errormessagerow {*/
/*padding-top: 0;*/
/*display: block;*/
/*clear: both;*/
/*}*/

.column {
    width: 356px;
    padding: 0 30px;
    float: left;
}

.widecolumn {
    width: 780px;
    margin: 0 30px;
    float: left;
}

#receipt h1, #finish h1 {
    font-size: 2.4em;
    margin: 0;
    border: none;
}

#finish .row {
    border-top: 1px solid #D0D0D0;
}

#receipt .final {
    padding-left: 30px;
}

#receipt form, #finish form {
    background: none;
    padding: 0;
}

#receipt .rule {
    margin: 0px 25px;
    border: none;
    border-top: 1px solid #D0D0D0;
    clear: both;
}

#finish .button {
    clear: both;
}

/*------------------------ 7.0 GRADIENTS ------------------------*/

input[type=submit], input[type=button], input.smallbutton, .ui-dialog .ui-dialog-buttonpane button {
    background: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e5e5e5', GradientType = 0); /* IE6-8 */
}

input[type=submit]:hover, input[type=button]:hover, input.smallbutton:hover, .ui-dialog .ui-dialog-buttonpane button:hover {
    background-color: #e5e5e5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(99%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* IE10+ */
    background: linear-gradient(top, #e5e5e5 0%, #ffffff 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e5e5e5', endColorstr = '#ffffff', GradientType = 0); /* IE6-8 */
}

/*------------------------ 8.0 USEFUL CLASSES ------------------------*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

/* CLEARFIX */

.group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}


/* ADDITIONAL STYLES FOR SERVICE FEE
------------------------------------------------ */
.terms p {
    font-size: 1.0em;
    text-shadow: 1px 1px #fff;
}

.terms a {
    color: #1C3B6D;
}

.terms a:hover {
    text-decoration: none;
}

#terms_dialog p {
    font-size: 1.0em;
    text-shadow: 1px 1px #fff;
    margin: 5px;
}

.copy {
    padding: 20px 20px 0 20px;
    overflow-y: scroll;
    height: 360px;
}

.copy h2 {
    font-weight: bold;
    font-size: 1.3em;
}

/* ADDITIONAL STYLES FOR E-CHECK
------------------------------------------------ */

/* THESE CAN BE TURNED OFF BY THE MERCHANT IN THE UBC */

select, input, textarea {
    border: 1px solid #D0D0D0;
    border-radius: 4px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

input[type=submit], input[type=button], #receipt input[type=button], #finish input[type=button] {
    margin: 30px 0 20px;
    clear: none;
    padding: 7px;
    min-width: 100px;
}
